<!-- HEADER -->
<div id="header_wrap" class="outer">
	<header class="inner">
		<a id="forkme_banner" href="https://github.com/ridoo/SensorWebClient">View on GitHub</a>

		<h1 id="project_title">52°North Sensor Web Client</h1>
		<h2 id="project_tagline">Provides easy access to timeseries data provided by web services of the Sensor Web
			domain.</h2>

		<section id="downloads">
			<a class="zip_download_link" href="https://github.com/ridoo/SensorWebClient/zipball/master">Download this project
				as a .zip file</a> <a class="tar_download_link" href="https://github.com/ridoo/SensorWebClient/tarball/master">Download
				this project as a tar.gz file</a>
		</section>
	</header>
</div>